* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.wrapper__wildberries {
    min-width: 320px;
}
.header {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    column-gap: 20px;
    padding: 10px;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    @media only screen and (max-width: 1024px) {
        grid-template-columns: 150px 1fr 150px;
    }
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &.scrolled {
        z-index: 100;
        background-color: #ebbbbb;
    }
    &__logo {
        background-color: #e9cbcb;
        padding: 10px;
        border-radius: 10px;
        border: solid transparent 1px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        font-family: 'Dancing Script', sans-serif;
        font-size: 20px;
        font-weight: 900;
        transition: all .3s linear;
        &:hover {
            background-color: #efe9e9;
        }
        &:active {
            background: #efe9e9;
            box-shadow: 4px 4px 30px 0px #ed9c9c;
        }
    }
    &__poisk {
        background-color: #ef9a9a;
        border-radius: 10px;
        border: solid transparent 1px;
        padding: 10px;
        text-align: center;
        font-weight: 500;
        transition: all .3s linear;
        &:hover {
            background-color: #efe9e9;
        }
    }
    &__poisk:focus-visible {
        border: transparent;
    }
    &__poisk:focus {
        outline: 1px solid transparent;
    }
    &__shopping__cart {
        background-color: #eb6c6c;
        padding: 10px;
        border-radius: 10px;
        border: solid transparent 1px;
        font-weight: 500;
        transition: all .3s linear;
        &:hover {
            background-color: #efe9e9;
        }
        &:active {
            background: #efe9e9;
            box-shadow: 6px 6px 35px 0px #ed9c9c;
        }
    }
}
// модальное окно корзины 
.modal__wrapp {
    display: none; // скрыт
    position: fixed; 
    z-index: 100; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.shopping__cart {
    border-radius: 30px;
    background-color: #eeeeee;
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    @media only screen and (max-width: 767px) {
        min-width: 300px;
    }
    &-title {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 0;
        margin-bottom: 20px;
        align-items: center;
    }
    &-text {
        font-size: 20px;
    }
    &-delete {
        background-color: #ef9a9a;
        border-radius: 10px;
        border: solid #ce7979 1px;
        padding: 10px;
        transition: all .3s linear;
        &:hover {
            background-color: #efe9e9;
        }
        &:active {
            background: #efe9e9;
            box-shadow: 4px 4px 30px 0px #ed9c9c;
        }
    }
    &-total {
        position: absolute;
        right: 100px;
        bottom: 30px;
        display: flex;
        column-gap: 10px;
        font-size: 20px;
    }
}
.content__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
}
.total__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 20px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 20px;
}
.wrapper__carusel {
    border: solid black 1px;
    border-radius: 15px;
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0 auto 20px;
    @media only screen and (max-width: 1024px) {
        width: 90%;
    }
}

.wrapper__hit-sales {
    margin-bottom: 20px;
}
.hit-sales {
    margin-bottom: 20px;
    padding-left: 100px;
    @media only screen and (max-width: 767px) {
        padding-left: 20px;
    }
}
.wrapper__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    justify-items: center;
    column-gap: 20px;
    row-gap: 20px;
    margin: 0 20px;
    @media only screen and (max-width: 1024px) {
        grid-template-columns: repeat(auto-fill, 250px);
    }
    @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
.wrapper__product {
    @media only screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
}
.image__product {
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    border: solid black 1px;
    margin-bottom: 10px;
    @media only screen and (max-width: 1024px) {
        width: 200px;
        height: 250px;
    }
}
.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    // z-index: 0;
    &__btn {
        position: absolute;
        z-index: 5;
        left: 23%;
        top: 42%;
        padding: 5px 10px;
        border-radius: 10px;
        border: solid #bdbdbd 1px;
        background-color: #eeeeee;
        color: #757575;
        transition: all .3s linear;
        @media only screen and (max-width: 1024px) {
            left: 10%;
        }
        &:hover {
            background-color: #fafafa;
        }
        &:active {
            background: #fafafa;
            box-shadow: 4px 4px 30px 0px #757575;
        }
    }
    &__wrap_botton {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        
    }
    &__btn-basket {
        border: solid hsl(193, 75%, 60%) 2px;
        border-radius: 50%;
        background-color: hsl(193, 46%, 71%);
        width: 40px;
        height: 40px;
        // z-index: 3;
        position: absolute;
        right: 10px;
        bottom: 10px;
        background-image: url('images/icon.png');
        background-size: cover;
        transition: all .3s linear;
        &:hover {
            background-color: hsl(193, 75%, 60%) 2px;
        }
        &:active {
            background: hsl(193, 75%, 60%) 2px;
            box-shadow: 6px 6px 35px 0px #48b8d7;
        }
    }
    &__discount {
        position: absolute;
        left: 10px;
        bottom: 20px;
    }

}
.product-price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    @media only screen and (max-width: 767px) {
        width: 200px;
    }
}
.price {
    text-decoration: line-through;
    &-with-discount {
        font-weight: bold;
    }
}
.name-product {
    padding-left: 25px;
}

.modal__image-wrapp {
    display: none;
    position: fixed; 
    z-index: 100; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}
.modal__block {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    border-radius: 30px;
    position: relative;
    background-color: #eeeeee;
    margin: auto;
    width: 70%;
    height: 70%;
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        justify-content: center;
        min-width: 300px;
    }
}
.modal__image {
    border: solid grey 1px;
    padding: 10px 15px;
    width: 60%;
    height: 70%;
    
}
.modal__name,
.modal__price {
    border: solid grey 1px;
    padding: 10px 15px;
    border-radius: 3px;
}

// bootstrap
.carousel {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
    @media only screen and (max-width: 767px) {
        padding-top: 150px;
    }
    &-indicators {
        bottom: -40px;
    }
    &-indicators [data-bs-target] {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #eb6c6c;
        transition: all .3s linear;
        &:hover {
            background-color: #efe9e9;
        }
    }
}